@media only screen and (max-width: 767px) {
    .section-termin .container .main-title {

        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        margin-bottom: 25px !important;
    }

    .section-termin .container .parts .left-part {
        margin-bottom: 20px;
        justify-content: center;
    }
    .section-termin .container .parts .right-part {
        margin-bottom: 20px;
        justify-content: center;
    }

    .footer .container .pre-footer .left-part {
        ul {
            flex-direction: column;
            align-items: center;
            width: 100%;
            justify-content: center;
            padding-bottom: 10px !important;

            li {
                margin-right: unset !important;
            }
        }
    }

    .footer .container .pre-footer .right-part {
        justify-content: center !important;
    }

    .footer .container .footer-container .left-part p {
        width: 100%;
        text-align: center;
    }

    .footer .container .pre-footer {
        padding: 15px 0 !important;
    }

    .footer .container .footer-container .right-part ul {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 0;

        li {
            padding: 5px 0 !important;
        }
    }

    .footer .container .footer-container .center-part {
        padding: 15px 0 !important;
    }

    .footer {
        padding-bottom: 0 !important;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        background-color: #ffffff !important;
    }

    body {
        margin-top: 60px;
    }

    .section-main {
        padding-top: 60px !important;
        .hero-row .top-part {
            .title {
                font-size: 32px;
                font-weight: 600;
                line-height: 42px;
            }
            .dsp {
                font-size: 18px;
            }
        }
        
        .bottom-row {
            .left-part {
                position: static;
                .left {
                    position: absolute;
                    bottom: 0;
                    max-width: 35%;
                    right: 0;
                }
            }
            .center-part {
                overflow: hidden;
                
                .hero {
                    width: 130%;
                }
            }
        }
    }

    .section-google {
        padding: 40px 0;
        .container .row .dsp-part p {
            text-align: center;
            margin: 20px 0;
        }
    }

    .section-insurance {
        padding: 40px 0;

        .container .title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .container .mark {
            padding: 15px 26px;
            svg {
                width: 60px;
                min-width: 60px;
                min-height: 50px;
            }
            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }
        }

        .container .elements-row .element {
            width: 100%;
        }
    }

    .section-new-contact {
        padding: 30px 0;
        background: #FFFEF5;
        .container {
            .main-title {
                font-size: 24px;
                font-weight: 700;
                line-height: 33px;
                margin-bottom: 25px !important;
            }
        }
    }

    .section-repair {
        padding: 40px 0;
        .container {
            .main-title {
                font-size: 24px;
                font-weight: 700;
                line-height: 33px;
                margin-bottom: 25px !important;
            }
            .elements .element-wrapper .auto {
                height: 120px;
                margin-bottom: 5px;
            }
        }
    }
    
    .contact-bar {
        display: flex;
    }

    .icon-bar {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {

    .section-main {
        height: auto !important;
    }

}